.error-indicator {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: #ff0000;
    .error {
        font-size: 1.75rem;
        line-height: 2rem;
        font-weight: bold;
        margin: 0 0 1rem;
    }
    img {
        margin: 0 0 1rem;
        max-width: 150px;
    }
    span {
        margin: 0 0 .75rem;
    }
}